<<<<<<< HEAD
footer{
    Background-color:#00FF00;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:60px
=======
footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
>>>>>>> 34baef260387b7977f0180b9c11704a880a56816
}
